body{
    background-color: #EFEFEF;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

div{
    display: block;
    text-align: center;
}

img{
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 5s;
    animation-timing-function: linear;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {

    0% { transform: scale(1,1) rotate(0deg); }
    10% { transform: scale(1.01,1.01) rotate(-1deg); }
    20% { transform: scale(1.02,1.02) rotate(-2deg); }
    30% { transform: scale(1.03,1.03) rotate(-2deg); }
    40% { transform: scale(1.04,1.04) rotate(-1deg); }
    50% { transform: scale(1.05,1.05) rotate(0deg); }
    60% { transform: scale(1.04,1.04) rotate(1deg); }
    70% { transform: scale(1.03,1.03) rotate(2deg); }
    80% { transform: scale(1.02,1.02) rotate(2deg); }
    90% { transform: scale(1.01,1.01) rotate(1deg); }
    100% { transform: scale(1,1) rotate(0deg); }
}